.footerheadeing {
  font-weight: bolder;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.parentDiv {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  height: 100%;
  color: gray;
  background: white;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.childDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact {
  font-weight: bold;
}

.internalparentDiv {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px;
  gap: 10rem;
}

@media (max-width: 768px) {
  .internalparentDiv {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .contactBox {
    display: flex;
    flex-direction: column;
  }
}

.instagram-icon {
  background: linear-gradient(45deg, #405de6, #5851db, #ff5e62, #f77737);

  width: 30px !important;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.youtube-icon {
  background: #ff0000;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.twitter-icon {
  background: #1da1f2;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.facebook-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  align-items: center;
  color: white;
}
